<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servers>
		<server>
			<id>central</id>
			<username>${env.BUILDUSER}</username>
			<password>${env.BUILDPASS}</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>${env.BUILDUSER}</username>
			<password>${env.BUILDPASS}</password>
		</server>
	</servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>rms-java-libs</name>
      <url>http://eastus-artifactory.azure.rmsonecloud.net:8081/artifactory/rms-java-libs</url>
      <id>rms-java-libs</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central-libs</id>
          <name>rms-java-libs</name>
          <url>http://eastus-artifactory.azure.rmsonecloud.net:8081/artifactory/rms-java-libs</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots-libs</id>
          <name>rms-java-libs</name>
          <url>http://eastus-artifactory.azure.rmsonecloud.net:8081/artifactory/rms-java-libs</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central-libs</id>
          <name>rms-java-libs</name>
          <url>http://eastus-artifactory.azure.rmsonecloud.net:8081/artifactory/rms-java-libs</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots-libs</id>
          <name>rms-java-libs</name>
          <url>http://eastus-artifactory.azure.rmsonecloud.net:8081/artifactory/rms-java-libs</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>